.button {
  text-decoration: none;
  line-height: 1;
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  color: #121212;
  border: none;
  cursor: pointer;
}

.decor {
  position: absolute;
  inset: 0;
  transition: transform 0.3s;
  z-index: 0;
}

.content {
  display: flex;
  align-items: center;
  font-weight: 600;
  position: relative;
  overflow: hidden;
}

.icon {
  width: 48px;
  height: 40px;
  display: grid;
  place-items: center;
  color: #fff;
  position: relative;
  font-size: 12px;
}

.icon:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

.icon > svg {
  z-index: 1;
}

.text {
  display: inline-block;
  transition: color 0.2s;
  padding: 2px 1.5rem 2px;
  padding-left: 0.75rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;
  font-size: 13px;
  font-weight: 600;
}

.button:hover .text {
  color: #fff;
}

.button:hover .decor {
  transform: translate(0);
}

/* .send {
  background-color: #00ceb6;
}

.gradient__send {
  background: linear-gradient(
    135deg,
    rgb(255, 255, 255) 0%,
    rgb(173, 254, 235) 0%,
    rgb(0, 214, 164) 39%,
    rgb(0, 193, 157) 54%,
    rgb(0, 198, 181) 74%,
    rgb(0, 148, 201) 100%
  );
} */
