@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --buttonColor: #00ad54;
  --color-bg: #1f1f38;
  --color-green: #00cbb4;
  --color-lignt: rgba(255, 255, 255, 0.6);

  --transition: all 0.3s ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

body {
  background-color: #ededed;
}

.send {
  background-color: #00ceb6;
}

.gradient__send {
  background: linear-gradient(
    135deg,
    rgb(255, 255, 255) 0%,
    rgb(173, 254, 235) 0%,
    rgb(0, 214, 164) 39%,
    rgb(0, 193, 157) 54%,
    rgb(0, 198, 181) 74%,
    rgb(0, 148, 201) 100%
  );
}
